.about-container {
    margin: 0 auto ;
    height: 100vh;
}

.about-title {
    height: 30vh;
    background-color: #003d33;
}

.about-title h1 {
    padding: 70px 50px;
    color: #FFD180;
    font-size: 2.5rem;
}

.about-wrapper {
    margin: 0 auto ;
    width: 1200px;
}

.about-text-wrapper {
    padding: 50px 0;
    max-width: 500px;
    float: left;
    margin-right: 140px;
}
