.about-container {
    margin: 0 auto ;
    height: 100vh;
    padding: 150px 100px;
}

.about-wrapper {
    margin: 0 auto ;
    width: 1200px;
}

.about-text-wrapper {
    padding: 50px 0;
    max-width: 500px;
    float: left;
    margin-right: 140px;
}
