.tracking-container {
    height: 100vh;
    padding: 100px 50px;
}

.tracking-contents{
    margin: 0 auto;
    padding: 10px 100px;
}

.tracking-searchbar {
    width: 500px;
}

.tracking-table{
    margin-top: 20px;
}

table, th, td {
    border: 1px solid black;
    padding: 5px 20px;
  }