.history-container {
    height: 100vh;
}

.history-title {
    height: 30vh;
    background-color: #003d33;
}

.history-title h1 {
    padding: 70px 50px;
    color: #FFD180;
    font-size: 2.5rem;
}

.history-form-wrapper {
    margin: 0 auto;
    width: 500px;
    border-radius: 20px;
    padding: 20px;
    background-color: #CAA052;
}
