.produk-container {
    height: min-content;
}

.produk-title {
    height: 40vh;
    padding: 40px;
    background-color: #003d33;
    text-align: center;
}

.produk-title h1 {
    color: #F3CB80;
    font-size: 4rem;
}

.produk-title .title-produk {
    color: white;
    font-size: 4rem;
}

.produk-title .product-searchbar {
    width: 700px;
}

.product-card{
    background-color: #F3CB80 !important;
    border-radius: 30px !important;
    width: 200px !important;
}

.produk-wrapper {
    text-align: center;
    margin: 0 auto;
    width: 1000px;
    padding: 20px 0;
}

.product-items {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}