.trolley-container {
    height: min-content;
}

.trolley-title {
    height: 30vh;
    background-color: #003d33;
}

.trolley-title h1 {
    padding: 70px 50px;
    color: #FFD180;
    font-size: 2.5rem;
}

.trolley-wrapper {
    margin: 0 auto;
    width: 1200px;
}

.trolley-card {
    margin: 20px auto !important;
    width: 1000px;
    background-color: #F1C066 !important;
    border-radius: 20px !important;
}

.trolley-text-wrapper {
    width: 700px;
    float: left;
}

.trolley-image {
    float: left;
    margin: 30px 40px;
    margin-top: 55px;
}

.produt-buttonAddMinTrash {
    float: right;
}

.product-harga {
    float: left;
    margin-right: 200px;
}

.btn {
    margin-right: 10px;
}

.btn-plus, .btn-min{
    background-color: green !important;
}

.btn-trash{
    background-color: red !important;
}

.fas {
    padding: 10px;
}

.btn-card {
    margin: 20px auto !important;
    width: 1000px;
    background-color: #F1C066 !important;
    border-radius: 20px !important;
}

.btn-order-trolley{
    margin-left: 400px;
    background-color: #00695C;
    color: white;
    padding: 5px 20px;
    border-radius: 8px;
}