.trolley-container {
    margin: 20px auto;
    height: 100vh;
}

.trolley-wrapper {
    margin: 0 auto;
    width: 1200px;
}

.trolley-text-wrapper {
    padding: 25px 50px;
    max-width: 800px;
    float: left;
}

.trolley-image {
    float: left;
    margin: 30px 25px;

}

.product-harga {
    float: left;
    margin-right: 200px;
}

.btn {
    margin-right: 10px;
}
/* 
.produt-buttonAddMinTrash{
    margin-top: 900px;
} */

.fas {
    padding: 10px;
}