.layanan-container {
    height: 80vh;
    margin: 0 auto;
}

.layanan-container h1{
    padding-top: 50px;
    margin-bottom: 60px;
    text-align: center;
}

.layanan-items {
    width: 1200px;
    height:min-content;
    margin: 0 auto;
    padding: 25px;
    display: flex !important;
    align-items: center;
    justify-content: space-evenly;
}