.rekomendasi-container {
    height: 80vh;
    margin: 0 auto;
    padding: 50px 50px;
    background-color: white;
}

.rekomendasi-container h1{
    text-align: center;
    padding-bottom: 30px;
}

.carousel-wrapper {
    margin: 0 auto;
    width: 1000px;
    background-color: #F3CB80;
}

.carousel-items {
    height:min-content;
    margin: 0 auto;
    padding: 50px 25px;
    display: flex !important;
    align-items: center;
    justify-content: space-evenly;
}
