.welcome-container {
    margin: 0 auto ;
    height: 100vh;
    background-color: #003d33;
}

.welcome-wrapper {
    margin: 0 auto ;
    padding-top: 50px;
    width: 1200px;
}

.fa-shopping-cart {
    margin-left: 8px;
}

.welcome-image {
    padding-top: 100px;
}

.welcome-text-wrapper {
    max-width: 500px;
    float: left;
    margin-right: 140px;
}

.welcome-text-wrapper h1{
    font-size: 100px;
    color: #fff;
}

.welcome-text-wrapper p{
    color: #fff;
}

.welcome-text-wrapper .bengkel-text{
    font-size: 100px;
    color:#F1C066;
}

.welcome-wrapper Button{
    background-color: #F1C066;
    padding: 5px;
}

.welcome-button-chat {
    background-color: #F1C066;
    position: fixed;
    border-radius: 50%;
    bottom: 70px;
    right: 120px;
    width: 60px;
    height: 60px;
    z-index: 999;
}